//- Cards de seccion Nuestros servicios

div(class="cards wow")
   div(class="cards-info", id="cards-info-one")
      img(class="cards-icon", src="./assets/icon/iconCards/icon-rating.svg", alt="icon start")
      h3(class="cards-title")= cards.titleOne
      span(class="cards-btn"): i(class="fas fa-angle-up")
   div(class="cards-descript", id="cards-descript-one")
      h3(class="cards-title-descript")= cards.titleOne
      p(class="cards-paragraph-descript") #{textCardsOne}
div(class="cards wow")
   div(class="cards-info", id="cards-info-two")
      img(class="cards-icon", src="./assets/icon/iconCards/icon-multiscreen.svg", alt="icon responsive design")
      h3(class="cards-title")= cards.titleTwo
      span(class="cards-btn"): i(class="fas fa-angle-up")
   div(class="cards-descript", id="cards-descript-two")
      h3(class="cards-title-descript")= cards.titleOne
      p(class="cards-paragraph-descript") #{textCardsTwo}
div(class="cards wow")
   div(class="cards-info", id="cards-info-three")
      img(class="cards-icon", src="./assets/icon/iconCards/icon-star.svg", alt="icon profesional")
      h3(class="cards-title")= cards.titleThree
      span(class="cards-btn"): i(class="fas fa-angle-up")
   div(class="cards-descript", id="cards-descript-three")
      h3(class="cards-title-descript")= cards.titleOne
      p(class="cards-paragraph-descript") #{textCardsThree}